---
description: 구글 플레이 개발자 계정 인증 기한 선택하기 - 개인, 조직 유형별 진행방법
---

# 구글 플레이 개발자 계정 인증 기한 선택



***



**\[안내 사항]**

개인, 조직 2가지 유형 중에서 선택하여 진행이 가능합니다.

이미 조직(비즈니스)로 가입을 하신 분들은 변경이 불가하며 조직으로 선택해서 진행을 해주세요.



## 1.개인 개발자 인증하기

개인 개발자 계정 인증 시 필요한 정보

Play Console에서 계정 인증이 가능해지면 다음 정보를 제공해야 합니다.

* 법적 이름(Google Play에 표시됨)
* 법적 주소(Google Play에 표시되는 국가)
* 연락처 이메일 주소(일회용 비밀번호로 인증)
* 이메일 커뮤니케이션에 사용할 기본 언어
* 연락처 전화번호(일회용 비밀번호로 인증)
* 개발자 이메일 주소(Google Play에 표시됨)
* 개인 개발자 계정 추가 정보:개발자 웹사이트(선택사항)

<div align="left">

<figure><img src="../../.gitbook/assets/계정1.png" alt=""><figcaption></figcaption></figure>

</div>

구글로 받으신 메일을 확인하여 \[기한 선택]버튼을 선택해주세요.



<div align="left">

<figure><img src="../../.gitbook/assets/계정2.png" alt=""><figcaption></figcaption></figure>

</div>

구글 플레이 콘솔 화면으로 이동하며, 상단에 있는 \[시작하기] 버튼을 선택합니다.



<figure><img src="../../.gitbook/assets/계정3.png" alt=""><figcaption></figcaption></figure>

계정 확인 기한을 선택합니다.

기한선택 란을 터치하면 선택 가능한 날짜 확인이 가능합니다.

기한은 가장 빠른 날짜로 선택하는 것이 좋습니다.



<figure><img src="../../.gitbook/assets/계정6(개인).png" alt=""><figcaption></figcaption></figure>

\-계정 유형 선택: 개인 계정 선택

\-국가 선택: 대한민국을 선택합니다.

\* 해당 개발자의 현재 거주 지역으로 선택하는 것이기 때문에 미국에 있다면 "미국", 베트남에 거주하고 있다면 "베트남" 등 거주 국가에 맞게 선택해주세요.



<div align="left">

<figure><img src="../../.gitbook/assets/계정7(개인).png" alt=""><figcaption></figcaption></figure>

</div>

기한 선택 완료, 계정 유형 선택이 완료되었고 최종적으로 날짜 확인 후, 하단에 날짜가 기재된 파란색 예약 버튼을 선택합니다.



<div align="left">

<figure><img src="../../.gitbook/assets/18.png" alt=""><figcaption></figcaption></figure>

</div>

"계정 확인 완료 기한이 완료되었습니다." 메일 발송됩니다.

따라서 인증 기한 선택을 완료했다고 끝이 아니라, 선택한 기한 내에 구글에서 요구하는 정보를 모두 제출을 해야 완료됩니다.

선택한 기한이 되기 60일 전에 Play Console에서 계정 인증을 시작할 수 있습니다.

\*선택한 기한까지 인증을 완료하지 않으면 Google Play에서 개발자 프로필과 앱이 삭제됩니다.

{% hint style="info" %}
**개인 계정에서 준비해야 하는 정보**

1\)이메일주소

2\)연락처 - 전화번호 및 이메일주소

3\)신원 확인을 위한 공문서 (주민등록증, 운전면허증과 같은 신분증 사본)
{% endhint %}

위의 정보를 미리 준비하고 개발자 계정 페이지에 정보를 미리 등록해놓는 것이 좋습니다.

***



## 2.조직(비즈니즈) 개발자

다음은 조직 개발자 계정으로 계정 인증을 하는 방법입니다.



**조직 개발자 계정 인증 시 필요한 정보**

Play Console에서 계정 인증이 가능해지면 다음 정보를 제공해야 합니다.

* 법적 이름(Google Play에 표시됨)
* 법적 주소(Google Play에 표시됨)
* 연락처 이메일 주소(일회용 비밀번호로 인증)
* 이메일 커뮤니케이션에 사용할 기본 언어
* 연락처 전화번호(일회용 비밀번호로 인증)
* 개발자 이메일 주소(일회용 비밀번호로 확인되며 Google Play에 표시됨)
* 개발자 전화번호(일회용 비밀번호로 확인되며 Google Play에 표시됨)

조직 추가 정보:

* 조직 유형 선택: 회사/ 비즈니스, 교육기관, 정부기관 등 선택
* 조직 규모 선택
* 조직 전화번호
* 조직 웹사이트



<div align="left">

<figure><img src="../../.gitbook/assets/계정1.png" alt=""><figcaption></figcaption></figure>

</div>

구글로 받으신 메일을 확인하여 \[기한 선택]버튼을 선택해주세요.



<div align="left">

<figure><img src="../../.gitbook/assets/계정2.png" alt=""><figcaption></figcaption></figure>

</div>

구글 플레이 콘솔 화면으로 이동하며, 상단에 있는 \[시작하기] 버튼을 선택합니다.





<figure><img src="../../.gitbook/assets/계정3.png" alt=""><figcaption></figcaption></figure>

계정 인증 기한을 선택한 뒤 \[다음] 선택해주세요.



<mark style="color:orange;">**\*DUNS 번호가 없을 경우**</mark>

<figure><img src="../../.gitbook/assets/계정4(조직).png" alt=""><figcaption></figcaption></figure>

계정 유형을 조직 계정으로 선택하면 조직에 DUNS 번호가 있는지를 물어보게 됩니다.

아직 DUNS 번호를 발행하지 않았다면 "아니요"를 선택해주세요.

지금은 그냥 넘어가도 되며, 계정 확인 기한이 되면 그때는 반드시 DUNS 번호를 발행해주셔야 합니다.



<mark style="color:orange;">**\*DUNS 번호가 있을 경우**</mark>

<div align="left">

<figure><img src="../../.gitbook/assets/계정4-1(조직).png" alt=""><figcaption></figcaption></figure>

</div>

이미 애플 개발자 계정 등록 등으로 DUNS 번호를 발행받아 놓은 것이 있다면!

"예"에 선택하고 DUNS 번호를 입력합니다.

해당 절차에 미리 입력하면 다음 계정 확인시에도 보다 순조롭게 진행이 가능합니다.

국가 선택 까지 완료한 뒤 \[다음] 선택합니다.



<figure><img src="../../.gitbook/assets/계정5(조직).png" alt=""><figcaption></figcaption></figure>

기한 선택, 계정 유형 선택 완료 후 하단에 파란색 예약 버튼을 선택합니다.



<div align="left">

<figure><img src="../../.gitbook/assets/계정6(조직).png" alt=""><figcaption></figcaption></figure>

</div>

인증 기한을 예약하면 계정 소유자 및 모든 계정 관리자에게 확인 이메일이 전송됩니다.

"계정 확인 완료 기한이 확인되었습니다." 메일 발송

이메일에는 필요한 경우 D-U-N-S 번호를 신청하는 방법을 비롯해 다음 단계에 대한 정보도 포함되어 있습니다.

Dun & Bradstreet 사이트에서 DUNS 번호를 발행할 수 있습니다.

선택한 기한이 되기 60일 전에 Play Console에서 계정 인증을 시작할 수 있습니다.

\*선택한 기한까지 인증을 완료하지 않으면 Google Play에서 개발자 프로필과 앱이 삭제됩니다.

{% hint style="info" %}
**조직 개발자 계정에서 제출해야 하는 정보**

1\)DUNS 번호

2\)사용자가 문의할 수 있는 담당자 연락처 및 이메일주소

3\)구글에서 연락할 수 있는 연락처 및 이메일주소

4\)신원 확인을 위한 공문서 (주민등록증, 운전면허증 등)

5\)조직 인증을 위한 공문서(사업자등록증)
{% endhint %}

***

\+결제 시스템을 사용하는 경우도 확인해주세요.

Google Play 결제 시스템을 사용하여 수익을 창출하는 개발자를 위한 추가 요구사항

Google Play 결제 시스템을 사용하여 Google Play에서 수익을 창출하는 경우 판매자 결제 세부정보도 인증해야 합니다.

확인되지 않은 은행 계좌가 있는 개발자의 경우 개발자 정보 및 앱이 Google Play에서 삭제됩니다.

개발자 계정에 연결된 Google 결제 프로필 항목에 들어가서 필요한 정보가 모두 입력되어 있는지 확인 후 정보를 업데이트 해주세요.

